@import '../../variables';

.outer-basket{
  flex: 0 1 260px;
  display: flex;
  flex-direction: column;
  height: 364px;
  background-color: $secondary-color;
  border: 1px solid $primary-color;
  margin-left: 10px;
}

.outer-basket-medium-screen{
  position: absolute;
  right: 10px;
  bottom: 50px;
  width: 260px;
  display: flex;
  flex-direction: column;
  height: 364px;
  background-color: $secondary-color;
  border: 1px solid $primary-color;
  margin-left: 10px;
}

.outer-basket-mobile-screen{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 250px;
  background-color: $secondary-color;
}

.medium-screen-menu{
  position: absolute;
  right: 0;
  bottom: 150px;
  display: flex;
  align-items: center;
  width: 120px;
  height: 37px;
  background-color: $darker-background-color;
  border: 1px solid $primary-color;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  cursor: pointer;
  padding: 0 10px;
}

.medium-screen-odd-label{
  color: $secondary-color;
  font-size: 12px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.basket-medium-screen-close{
  position: absolute;
  right: 258px;
  bottom: 36px;
  width: 30px;
  height: 30px;
  color: $secondary-color;
  background-color: $darker-background-color;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-background-color;
  height: 40px;
  padding: 0 10px 0 6px;
  box-sizing: border-box;
}

.header-text{
  font-family: Oswald;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  color: $secondary-color;
}

.bet-count{
  background-color: $brand-color;
  border-radius: 50%;
  border: 0;
  color: $tertiary-color;
  width: 21px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.no-bets-warning {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.label-mbs{
  display: flex;
  align-items: center;
  margin-right: 10px;
  background-color: $highlight-color;
  padding: 2px 6px;
  border-radius: 6px;
  color: $secondary-color;
}

.bet-box-container{
  height: 288px;
  overflow-y: auto;
}

.bet-box{
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 72px;
  background-color: $background-color;
  border-bottom: 1px solid $primary-color;
}

.bet-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer{
  display: flex;
  align-items: center;
  padding: 10px;
  height: 36px;
  background-color: $gray-background-color;
}

.bet-button-mobile {
  height: 60px;
  position: absolute;
  bottom: 0;
  background-color: $background-color;
  border: 2px solid $primary-color;
  width: 100%;
}






