$primary-color: #7d9fa4;
$secondary-color: #fff;
$tertiary-color: #000;
$highlight-color: purple;
$background-color: #f4f9f9;
$dark-background-color: #204e57;
$darker-background-color: #18383e;
$brand-color: #fc0;
$hover-color: #ebf6e8;
$gray-background-color: #e1e4e5;